@font-face {
    font-family: login;
    src: url('/fonts/RivieraNights-Light.woff');
}
*{
    font-family: login;
}
.login {
    text-align: center;
    position: relative;
    top: 300px;
    padding: 10px;
    border: 1px inset rgb(0, 0, 204);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(51, 102, 204);
    background-color: rgba(227, 227, 227, 0.905);
    width: 20%;
    height: 120px;
    margin: auto;
}

.login:hover {
    box-shadow: 3px 3px 3px 3px rgb(45, 89, 176);
}

.banner {
    color: rgb(32, 35, 44);
}

.button {
    margin-top: 10px;
    color: rgb(65, 65, 65);
    border: 2px inset rgba(0, 0, 204, 0.308);
    background-color: rgb(192, 192, 192);
    padding: 5px;
    border-radius: 10px;
}

.button:hover {
    border: 2.5px inset rgba(0, 0, 204, 0.421);
    border-radius: 10.5px;
}

.pass {
    margin-top: 5px;
}

.email {
    margin-top: 5px;
}